@font-face {
  font-family: 'Avenir';
  src: url('fonts/Avenir-Heavy.eot');
  src: url('fonts/Avenir-Heavy.eot?#iefix') format('embedded-opentype'),
       url('fonts/Avenir-Heavy.woff') format('woff'),
       url('fonts/Avenir-Heavy.ttf')  format('truetype'),
       url('fonts/Avenir-Heavy.svg#5210a83cbeaba3c69473142e37abdff7') format('svg');

  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Avenir';
  src: url('fonts/Avenir-Roman.eot');
  src: url('fonts/Avenir-Roman.eot?#iefix') format('embedded-opentype'),
       url('fonts/Avenir-Roman.woff') format('woff'),
       url('fonts/Avenir-Roman.ttf')  format('truetype'),
       url('fonts/Avenir-Roman.svg#2b3cb83e00b279c4ab15de4d02a9caf1') format('svg');

  font-style: normal;
  font-weight: 400;
}

